{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한삼걸</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <ul>
            {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    <img src="{{ post.image }}" alt="{{post.title}}">
                    <p>{{post.title}}</p>
                    <p>{{post.author}}</p>
                    <p>공적력 : {{post.price}}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'post_add' %}" class="plus btn">추가</a>
    </div>
</body>
</html>