{% extends 'base.html' %}
{% block content %}
<nav>
    <h1><a href="{% url 'feeds' %}">Pystagram</a></h1>
    <div id="post-add">
        <h1>포스트 작성</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <label for="id_images">이미지</label>
                <input id="id_images" type="file" name="images" multiple>
            </div>
            <div>
                <label for="id_hashtag">해쉬태그</label>
                <input id="id_hashtag" type="text" name="tags" placeholder="쉼표(,)로 구분하여 여러 태그 입력">
            </div>
            <button type="submit">작성</button>
        </form>
    </div>
</nav>
{% endblock%}