{% extends 'base.html' %}
{% block content%}
<nav>
    <h1>
        <a href="{% url 'Feeds' %}">Pystagram</a>
    </h1>
    <a href="{% url 'Logout' %}">Logout</a>
    <a href="{% url 'AddPost' %}">Add Post</a>
</nav>
<div id="tags">
    <header class="tags-header">
        <h2>#{{tagName}}</h2>
        <div>게시물 1,094</div>
    </header>
    <div class="post-grid-container">
        {% for post in posts %}
            <div class="post-grid">
                {% if post.postimage_set.first.photo %}
                    <a href="{% url 'DetailFeed' post.id %}">
                        <img src="{{ post.postimage_set.first.photo.url }}" alt="">
                    </a>
                {% endif %}
            </div>
            {% empty %}
                <p>검색된 게시물이 없습니다</p>
        {% endfor %}
    </div>
</div>
{% endblock %}