.container{
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center; 
    flex-direction: column;
}

ul{
    margin-top: 1rem; margin-bottom: 1rem;
    display: flex; text-align: center;
}

img{
    width: 300px;
}

h1{
    margin-bottom: 10px;
    font-size: 30px; color: #222;
}

p{
    line-height: 30px;
    font-size: 16px; color: #222;
}

.btn{
    display: block;
    margin-top: 30px;
    width: 150px; height: 35px;
    background: #222;
    border-radius: 10px; 
    text-align: center; line-height: 35px;
    font-size: 14px; color: #fff;
    transition: all .5s;
}

.btn:hover{
    background: #666;
}

form{
    display: flex; justify-content: center; align-items: center; 
    flex-direction: column;
}

input{
    width: 200px; height: 35px;
    border: 1px solid #222; border-radius: 5px;
}

button.btn{
    width: 200px; height: 35px;
    cursor: pointer;
}