{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div id="post-list">
        <ul class="posts">
            {% for post in posts %}
            <li class="post">
                <a href="{% url 'PostDetail' pk=post.id %}">
                    <div>{{post.title}}</div>
                    <p>{{post.content}}</p>
                    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>