{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>디테일 페이지</h1>
        <div class="detail">
            <div>
                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
            </div>
            <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
        </div>
        <ul>
            {% for comment in post.comment_set.all %}
                <li>{{ comment.content }}</li>
            {% empty %}
                <li>아직 댓글이 없습니다</li>
            {% endfor %}
        </ul>
        <form method="POST">
            {% csrf_token %}
            <div>
                <textarea name="content"></textarea>
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
</body>
</html>