<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo App</title>
</head>
<body>
    <h1><a href="">사진 목록 페이지</a></h1>
    <a href="{% url 'main_new' %}">사진 추가</a>
    {% for post in posts %}
    <div>
        <h2>
            <a href="{% url 'main_item' pk=post.pk %}">{{post.title}}</a>
        </h2>
        <img src="{{ post.image }}" alt="{{post.title}}" width="300">
        <p>{{post.author}}, {{post.price}}원</p>
    </div>
    {% endfor %}
</body>
</html>